@model IEnumerable<CCU_Crawler.Models.Guestbook>

@{
    ViewBag.Title = "Conplain";
    var temp = @TempData["id2"];  //暫存課程id
}

<h2>Conplain</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br>
        @*radiobutton 點點 (傳給controller的參數名稱,value)*@
        課程評分 :@Html.RadioButton("score", 1)1 @Html.RadioButton("score", 2)2 @Html.RadioButton("score", 3)3 @Html.RadioButton("score", 4)4 @Html.RadioButton("score", 5) 5
        <br>
        課程評論 :
        <br>
        @Html.TextArea("content")

        @*把課程id傳回去 again*@
        <input type="hidden" id="classId" name="classId" value=@temp>
        <input type="submit" value="送出">
    </div>
}

@*回去 list*@
<div>
    @Html.ActionLink("Back to List", "List", new { id = @TempData["id2"] })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
