@model IEnumerable<CCU_Crawler.Models.Guestbook>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@*@Styles.Render("~/Content/css")*@  @*layout裡有寫就可以了*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <br>
    課程名稱 : @ViewBag.name
    <br>
    指導教授 : @ViewBag.teacher
    <br>
    課程註解 : @ViewBag.remark
    <br>
    <br>
</div>

<p>
    @Html.ActionLink("我要評論", "Conplain", new { CourseId = @TempData["id"] }, new { @class = "link-button" })
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Styles.Render("~/Content/css")*@
}
