@model IEnumerable<CCU_Crawler.Models.Guestbook>
@using CCU_Crawler.Models;

@functions{
    //ViewBag.Title = "List";
    private ApplicationDbContext db = new ApplicationDbContext();
}

<h1><b>課程資訊</b></h1>
@*@Styles.Render("~/Content/css")*@  @*layout裡有寫就可以了*@

@if (TempData["warning"] != null)
{
    <script type="text/javascript">
        var warning = @Html.Raw(Json.Encode(TempData["warning"])); //把tempdata的字串轉成json js只認json
        alert(warning);
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @section head
{
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <div style="position:relative; left: 30% ; width: 40%; height: 40%;">
            <canvas id="myChart_bar" width="400" height="300"></canvas> @*可以調大小*@
        </div>
        <div style="position:relative; left: 30% ; width: 40%; height: 40%;">
            <canvas id="myChart_pie" width="400" height="300"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('myChart_bar').getContext('2d');
            function getRandom(x) {
                return Math.floor(Math.random() * x);
            };



            @{
                var vote0 = 0;
                var vote1 = 0;
                var vote2 = 0;
                var vote3 = 0;
                var vote4 = 0;
                var vote5 = 0;

                foreach (var model in Model)
                {
                    switch (model.Score)
                    {
                        case 0:
                            vote0++;
                            break;
                        case 1:
                            vote1++;
                            break;
                        case 2:
                            vote2++;
                            break;
                        case 3:
                            vote3++;
                            break;
                        case 4:
                            vote4++;
                            break;
                        case 5:
                            vote5++;
                            break;
                    }
                }
}


                        var myChart_bar = new Chart(ctx, {
                type: 'bar',
                data: {
                        labels: ['0分', '1分', '2分', '3分', '4分', '5分'],
                    datasets: [{
                            label: '# of Votes',
                        data: [@vote0, @vote1, @vote2, @vote3, @vote4, @vote5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 0.4)',
                            'rgba(54, 162, 235, 0.4)',
                            'rgba(255, 206, 86, 0.4)',
                            'rgba(75, 192, 192, 0.4)',
                            'rgba(153, 102, 255, 0.4)',
                            'rgba(255, 159, 64, 0.4)'
                        ],
                        borderWidth: 0.5
                    }]
                },
                options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                                }]
                    }
                        }
                    });

                    var ctx = document.getElementById('myChart_pie').getContext('2d');
                    var myChart_pie = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['0分', '1分', '2分', '3分', '4分', '5分'],
                    datasets: [{
                        label: '# of Votes',
                        data: [@vote0, @vote1, @vote2, @vote3, @vote4, @vote5],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ]
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '課程評分%'
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: 'black',
                        }
                        }
                    }
                });

        </script>
    }


    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <td class="col-lg-1" style="text-align: center; vertical-align: middle">
                    課程名稱 :
                </td>
                <td class="col-lg-7" style="vertical-align: middle">
                    @ViewBag.name
                </td>
            <tr>
        </thead>
        <tr>
            <td style="text-align: center; vertical-align: middle">
                指導教授 :
            </td>
            <td style="vertical-align: middle">
                @ViewBag.teacher
            </td>
        <tr>
        <tr>
            <td style="text-align: center; vertical-align: middle">
                課程註解 :
            </td>
            <td style="vertical-align: middle">
                @ViewBag.remark
            </td>
        <tr>
    </table>

    <p>
        @*css的放置位置在 content 資料夾內*@
        @*然後到app_start 找 BundleConfig.cs 把新增的 css 加入*@
        @*需要這個 @Styles.Render("~/Content/css") 不過有寫在layout上了 不必再寫一遍*@
        @Html.ActionLink("我要評論", "Conplain", new { CourseId = @TempData["id"] }, new { @class = "my-button" })
    </p>
}
@*以下顯示內容可以再改  ui不確定*@
<table class="table table-bordered table-sm">
    <tr>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th style="text-align: center; vertical-align: middle">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>

            <td style="text-align: center; vertical-align: middle">
                @using (Html.BeginForm())
                {
                    <input type="hidden" value=@TempData["id"] name="CourseId">
                    <input type="hidden" value=@item.Id name="CommentId">

                    if (db.Comments.Where(x => x.User == User.Identity.Name && x.CommentId == item.Id).FirstOrDefault() != null)
                    {
                        Comment comment = new Comment();
                        comment = db.Comments.Where(x => x.User == User.Identity.Name && x.CommentId == item.Id).FirstOrDefault();
                        if (comment.GoodOrBad == 0)
                        {
                            <input type="submit" value="讚" name="action" class="btn btn-default" /> @item.good
                            <input type="submit" value="評論Bad" name="action" class="btn btn-default" style="background-color:blanchedalmond;" /> @item.bad
                        }
                        else if (comment.GoodOrBad == 1)
                        {
                            <input type="submit" value="讚" name="action" class="btn btn-default" style="background-color:blanchedalmond;" /> @item.good
                            <input type="submit" value="評論Bad" name="action" class="btn btn-default" /> @item.bad
                        }
                    }
                    else
                    {
                        <input type="submit" value="讚" name="action" class="btn btn-default" /> @item.good
                        <input type="submit" value="評論Bad" name="action" class="btn btn-default" /> @item.bad
                    }
                }
            </td>

        </tr>
    }
</table>

<div>
    @Html.ActionLink("回到<課程檢索>", "Search", "CourseSearch")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/guestbooklist.css" rel="stylesheet" />
    <script src="~/Content/guestbooklist.js"></script>
}
