@model CCU_Crawler.Models.JointSearchCourseToView

@{
    ViewBag.Title = "Search";
}

<table class="table table-bordered table-sm">
    <tr>
        <th width="180px" style="text-align: center; vertical-align: middle">
            @Html.DisplayName("系所")
        </th>
        <th style="text-align: center; vertical-align: middle">
            @Ajax.ActionLink("課程名稱", "../CourseSearch/Search", new CCU_Crawler.Models.SearchCourse
            {
                DepartmentName = ViewData["DepartmentName"] as string,
                Grade = ViewData["Grade"] as string,
                Name = ViewData["Name"] as string,
                Teacher = ViewData["Teacher"] as string,
                OrderType = (int)ViewData["OrderType"] == 1 ? -2 : 1,
                Page = ViewData["Page"] is object ? (int)ViewData["Page"] : 1
            }, new AjaxOptions() { UpdateTargetId = "ajaxlist" })
        </th>
        <th width="85px" style="text-align: center; vertical-align: middle">
            @Html.DisplayName("任教老師")
        </th>
        <th width="50px" style="text-align: center; vertical-align: middle">
            @Ajax.ActionLink("學分", "../CourseSearch/Search", new CCU_Crawler.Models.SearchCourse
            {
                DepartmentName = ViewData["DepartmentName"] as string,
                Grade = ViewData["Grade"] as string,
                Name = ViewData["Name"] as string,
                Teacher = ViewData["Teacher"] as string,
                OrderType = (int)ViewData["OrderType"] == 2 ? -3 : 2,
                Page = ViewData["Page"] is object ? (int)ViewData["Page"] : 1
            }, new AjaxOptions() { UpdateTargetId = "ajaxlist" })
        </th>
        <th width="60px" style="text-align: center; vertical-align: middle">
            @Html.DisplayName("必/選")
        </th>
        <th width="50px" style="text-align: center; vertical-align: middle">
            @Ajax.ActionLink("熱門", "../CourseSearch/Search", new CCU_Crawler.Models.SearchCourse
            {
                DepartmentName = ViewData["DepartmentName"] as string,
                Grade = ViewData["Grade"] as string,
                Name = ViewData["Name"] as string,
                Teacher = ViewData["Teacher"] as string,
                OrderType = (int)ViewData["OrderType"] == 0 ? -1 : 0,
                Page = ViewData["Page"] is object ? (int)ViewData["Page"] : 1
            }, new AjaxOptions() { UpdateTargetId = "ajaxlist" })
        </th>
    </tr>
    @foreach (var item in Model.JointSearchCourseList)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td style="vertical-align: middle">
                @Html.ActionLink(item.CourseName, "../Guestbooks/List", new { id = item.Id }, new { @class = "my-class" })
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Teacher)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Credit)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td style="text-align: center; vertical-align: middle">
                @Html.DisplayFor(modelItem => item.Popularity)
            </td>
        </tr>
    }
</table>
@Html.Action("PageList", "CourseSearch", Model.SearchCourse)