@model CCU_Crawler.Models.SearchCourse

@{
    ViewBag.Title = "Search";
}

<h1><b>課程檢索</b></h1>
@using (Ajax.BeginForm(new AjaxOptions() { UpdateTargetId = "ajaxlist" }))
{
    @Html.AntiForgeryToken()

    <form id="form0" class="form-horizontal inner">
        <hr />
        <label class="control-label">系所名稱：</label>
        @Html.EditorFor(model => model.DepartmentName)
        <label class="control-label">課程年級：</label>
        @Html.EditorFor(model => model.Grade)
        <label class="control-label">課程名稱：</label>
        @Html.EditorFor(model => model.Name)
        <label class="control-label">任教老師：</label>
        @Html.EditorFor(model => model.Teacher)
        <input type="submit" value="按此搜尋" class="btn btn-default" />
        <hr />
    </form>
}


<div id="ajaxlist">
    @Html.Action("Index", "CourseSearch", Model)
</div>