<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爬爬爬爬蟲留言板</title> @*@ViewBag.Title被我刪掉*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="font-family: Consolas,'Microsoft JhengHei' ; font-size:14px">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("爬蟲留言板", "Search", "CourseSearch", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("系所", "Index", "Departments")</li>
                    <li>@Html.ActionLink("課程", "Index", "Courses")</li>
                    <li>@Html.ActionLink("留言", "Index", "Guestbooks")</li>
                    <li>@Html.ActionLink("檢索", "Search", "CourseSearch")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-family: Consolas,'Microsoft JhengHei'">&copy; @DateTime.Now.Year - 爬爬爬爬蟲留言板</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("head", required: false)
</body>
</html>
